.PortraitImageContainer {
  background-image: url("/cityescape-studio-logo.png") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  background-color: #f9f9f9f9;
  @apply animate-pulse m-2
}