@layer utilities {
  @variants responsive{

    // defaults
    .Masonry {
      column-count: 1;
      column-gap: 0;
      @apply mt-7
    }
    .BreakInside {
      break-inside: avoid;
    }

    // change column count per device width
    @screen sm {
      .Masonry {
        column-count: 1;
      }
    }
    @screen md {
      .Masonry {
        column-count: 2;
      }
    }
    @screen lg {
      .Masonry {
        column-count: 3;
      }
    }
  }
}